        .div-navegacio {
            margin-top: 20px;
        }

        .nav-navegacio {
            border-radius: 5px;
        }

        .boto-configracio {
            right: 0px;
        }

        .title {
            margin-top: 30px;
        }

        .texto-input {
            right: 0px;
        }

        .div_input {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            width: 200px;
            min-width: 400px;
        }

        .divglobal {
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            margin-bottom: 90px;
            min-width: 700px;
        }
            
        .mm {
            margin-top: 30px;
        }
            
        .div_i {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 400px;
            height: 260;
            margin-left: auto;
            margin-right: auto;
            border-radius: 7px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .svg_up {
        }

        .footer {
            display: block;
            position: fixed;
            z-index: 200;
            width: 100%;
            bottom: 0px;
            margin-top: 10px;
            border-top: 1px solid rgba(0,0,0,.125);
            padding: .75rem 1.25rem;
            background-color: #F9F9F9;
        }

        .footer_settings {
            position: fixed;
            width: 100%;
            bottom: 0px;
            margin-top: 10px;
        }
        
        @media {
            body {
                min-width: 800px;
            } 
        }